div {
  height: 500px;
  width: 500px;
}

.rebecca-purple {
  background-color: rebeccapurple;
}

.cadet-blue {
  background-color: cadetblue;
}

.dark-goldenrod {
  background-color: darkgoldenrod;
}

.pinstripe-blue {
  background-color: blue;
}

.hotpink {
  background-color: hotpink;
}

.dark-green {
  background-color: darkgreen;
}

.ghost-white {
  background-color: ghostwhite;
}

.banana-yellow {
  background-color: yellow;
}
